*{

  &,
  &:before,
  &:after{
    @include vendor(box-sizing, border-box);
  }

}

html{
  font: 15.5px Helvetica, arial, freesans, clean, sans-serif;

  overflow-y:scroll;
  height:100%;
}

body {

  @include vendor(transition, margin-top .75s);
  position: relative;
  min-height: 100%;
  background: #e8e8e8;
  padding-top: 1px;

}

a{
  text-decoration: none;
}

h2{
  margin: 0;
}
ul{
  padding: 0;
}

.invalid-required,.invalid-numeric {
  background: #ff5943 !important;

}

.marked{
  background: $brand-red !important;
}

.markedactive{
  background: #97d1f4 !important;
}
