<div class="menu-container">

    <div class="msgContainer hover-settings">
        <button class="btn btn-default top-right setting-btn" ng-click="toggleMenu()">
            <span class="icon-cog settings-icon"></span>
            Settings
        </button>
    </div>

    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" ng-class="{'cbp-spmenu-open': open}" ng-click="toggleMenu()">
        <a href="#">Hallo</a>
        <a href="#">Welt</a>
        <a href="#">Zucchini garlic</a>
        <a href="#">Catsear azuki bean</a>
        <a href="#">Dandelion bunya</a>
        <a href="#">Rutabaga</a>
    </nav>
</div>
