<div class="container">

    <div class="msgContainer hover-settings">
        <button class="btn btn-default top-right setting-btn">
            <span class="icon-cog settings-icon"></span>
            Settings
        </button>
    </div>

<div class="msgContainer">

       <div class="historie" history-scroll>
            <div ng-repeat="message in messages">
                <div class=" user-hover">
                    <span class="usercolor">{{message.poster}}</span>
                    <span class="timestampcolor">{{message.timestamp}}</span>
                      <p class="line-break">{{message.value}}</p>
                </div>
            </div>
       </div>

    <div class="inputarea">
        <textarea prompt="" ng-model="message" class="form-control bottom-hook-area" rows="3"></textarea>
        <span class="buttonfortxtarea">
            <button ng-click="addMessage()" class="btn btn-default description_edit bottom-hook-btn fontweight">
                Send
            </button>
        </span>
    </div>

    </div>
</div>