<div class="container">

    <div class="msgContainer">
        <button class="btn btn-default top-right">
            <span class=" icon-cog"></span>
            Settings
        </button>
    </div>

<div class="msgContainer">
    <div class="historie">
        <div ng-repeat="message in messages">
            <span>[{{message.timestamp}}]</span> -
            <span>[{{message.poster}}]</span> :
            <span>{{message.value}}</span>
        </div>
        <div class="historie">
            <div ng-repeat="message in messages">
                <span class="timestampcolor">[{{message.timestamp}}] - </span>
                <span class="usercolor">[{{message.poster}}]</span> :
                <span>{{message.value}}</span>
            </div>
        </div>

    <div class="inputarea">
        <textarea prompt="" ng-model="message" class="form-control bottom-hook-area" rows="3"></textarea>
        <span class="buttonfortxtarea">
            <button ng-click="addMessage()" class="btn btn-default description_edit bottom-hook-btn fontweight">
                Send
            </button>
        </span>
    </div>

    </div>
</div>