<div class="container">

    <span class="settings icon-gear"></span>

<div class="msgContainer">
    <div class="historie">
        <div ng-repeat="message in messages">
            <span>[{{message.timestamp}}]</span> -
            <span>[{{message.poster}}]</span> :
            <span>[{{message.value}}]</span>
        </div>
    </div>
</div>


    <div class="prompt-container">
        <textarea ng-model="message" class="prompt-input"></textarea>

        <button ng-click="addMessage()" class="prompt-send icon-arrow-right"></button>
    </div>



</div>